# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
src-tauri/target/
*.tar.gz

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Tauri
src-tauri/WixTools/
src-tauri/target/debug/bundle/
src-tauri/target/release/bundle/
